@model IEnumerable<Product>

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>

    <h2>Product List</h2>

    <table border="1" class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Category)</th>
                <th>@Html.DisplayNameFor(model => model.ImageFile)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Category</td>
                    <td>@product.ImageFile</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
